<title>Edit </title>

<div class="mx-5 px-5 pt-3">

  <h2 class="text-center fw-bold text-danger">Chỉnh Sổ Tiết Kiệm</h2>
  <div class="mt-3 text-center">
    <a routerLink="">Quay Về Danh Sách</a>
  </div>

  <div class="d-flex justify-content-center">

    <div class="w-50 border border-info p-3"
         [formGroup]="formEdit">

      <div class="mt-3 form-group">
        <label for="id" class="h6">Mã Sổ Số:</label>
        <input type="number" id="id" class="form-control" placeholder="Nhập Id: " name="id"
               formControlName="id" readonly>
      </div>


<!--      <div class="mt-3 form-group">-->
<!--        <label for="name" class="h6">Tên Khách Hàng:</label>-->
<!--        <input type="text" id="name" class="form-control" placeholder="Nhập Tên: " name="name"-->
<!--               formControlName="customerName">-->
<!--      </div>-->

<!--      <div class="mb-3 text-danger"-->
<!--           *ngIf="formEditCustomer.controls.customerName.hasError('required')-->
<!--            && formEditCustomer.controls.customerName.dirty">-->
<!--        Tên khách hàng không được để trống!-->
<!--      </div>-->

      <div class="mt-3 form-group">
        <label for="ngayMoSo" class="h6">Ngày Mở Số:</label>
        <input type="date" id="ngayMoSo" class="form-control" name="customerBirthday"
               formControlName="ngayMoSo" />
      </div>

      <div class="mt-3 form-group">
        <label for="thoiGianBatDauGui" class="h6">Ngày Bắt Đầu Gữi:</label>
        <input type="date" id="thoiGianBatDauGui" class="form-control" name="customerBirthday"
               formControlName="thoiGianBatDauGui" />
      </div>

<!--      <div class="mb-3 text-danger"-->
<!--           *ngIf="formEditCustomer.controls.customerBirthday.hasError('invalid18_80')-->
<!--            && formEditCustomer.controls.customerBirthday.touched">-->
<!--        Không Được Để Trống!-->
<!--      </div>-->

      <div class="mt-3 form-group">
        <label for="kyHan" class="h6">Kí Hạn:</label>
        <input type="text" id="kyHan" class="form-control" placeholder="Nhập CCMD/CMND" name="idCard"
               formControlName="kyHan">
      </div>

      <div class="mt-3 form-group">
        <label for="soTienGui" class="h6">Số Tiền Gữi:</label>
        <input type="text" id="soTienGui" class="form-control" placeholder="Nhập CCMD/CMND" name="idCard"
               formControlName="soTienGui">
      </div>

      <div class="mt-3 form-group">
        <label for="laiXuat" class="h6">Lãi Xuất:</label>
        <input type="text" id="laiXuat" class="form-control" placeholder="Nhập CCMD/CMND" name="idCard"
               formControlName="laiXuat">
      </div>

      <div class="mt-3 form-group">
        <label for="uuDai" class="h6">Ưu Đãi:</label>
        <input type="text" id="uuDai" class="form-control" placeholder="Nhập CCMD/CMND" name="idCard"
               formControlName="uuDai">
      </div>

<!--      <div class="mb-3 text-danger"-->
<!--           *ngIf="formEditCustomer.controls.customerIdCard.hasError('pattern')-->
<!--            && formEditCustomer.controls.customerIdCard.dirty">-->
<!--        CMND/CCCD phải đúng định dạng XXXXXXXXX hoặc XXXXXXXXXXXX (X là số 0-9)!-->
<!--      </div>-->

<!--      <div class="mt-3 form-group">-->
<!--        <label for="customerPhone" class="h6">Số Điện Thoại:</label>-->
<!--        <input type="text" id="customerPhone" class="form-control" placeholder="Nhập Số Điện Thoại" name="customerPhone"-->
<!--               formControlName="customerPhone">-->
<!--      </div>-->

<!--      <div class="mb-3 text-danger"-->
<!--           *ngIf="formEditCustomer.controls.customerPhone.hasError('pattern')-->
<!--            && formEditCustomer.controls.customerPhone.touched">-->
<!--        Số điện thoại phải đúng định dạng 090xxxxxxx hoặc 091xxxxxxx hoặc (84)+90xxxxxxx hoặc (84)+91xxxxxxx!-->
<!--      </div>-->

<!--      <div class="mt-3 form-group">-->
<!--        <label for="email" class="h6">Email:</label>-->
<!--        <input type="text" id="email" class="form-control" placeholder="Nhập Email" name="email"-->
<!--               formControlName="customerEmail">-->
<!--      </div>-->

<!--      <div class="mb-3 text-danger"-->
<!--           *ngIf="formEditCustomer.controls.customerEmail.hasError('email')-->
<!--            && formEditCustomer.controls.customerEmail.dirty">-->
<!--        email Phải Đúng Định Dạng!-->
<!--      </div>-->

<!--      <div class="mt-3 form-group">-->
<!--        <label for="address" class="h6">Địa Chỉ:</label>-->
<!--        <input type="text" id="address" class="form-control" placeholder="Nhập Địa Chỉ" name="address"-->
<!--               formControlName="customerAddress">-->
<!--      </div>-->

<!--      <div class="mb-3 text-danger"-->
<!--           *ngIf="formEditCustomer.controls.customerAddress.hasError('required')-->
<!--            && formEditCustomer.controls.customerAddress.dirty">-->
<!--        Không Được Để Trống-->
<!--      </div>-->

<!--      <div class="mt-3 form-group">-->
<!--        <label class="h6">Giới tính:</label>-->
<!--        <div class="alert alert-danger" role="alert"-->
<!--             *ngIf="formEditCustomer.controls.customerGender.hasError('required') &&-->
<!--                      formEditCustomer.controls.customerGender.touched">-->
<!--          Vui lòng chọn giới tính!-->
<!--        </div>-->
<!--        <div class="d-flex">-->
<!--          <label class="d-block me-4">-->
<!--            <input class="form-check-input" type="radio" id="male" value="Male"-->
<!--                   formControlName="customerGender"/> Male-->
<!--            <i class="fa-solid fa-mars"></i>-->
<!--          </label>-->

<!--          <label class="d-block me-4">-->
<!--            <input class="form-check-input" type="radio" id="female" value="Female"-->
<!--                   formControlName="customerGender"/> Female-->
<!--            <i class="fa-solid fa-venus"></i>-->
<!--          </label>-->

<!--          <label class="d-block">-->
<!--            <input class="form-check-input" type="radio" id="ljbt" value="LGBT"-->
<!--                   formControlName="customerGender"/> LGBT-->
<!--            <i class="fa-solid fa-heart"></i>-->
<!--          </label>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="mb-3 text-danger"-->
<!--           *ngIf="formEditCustomer.controls.customerGender.hasError('required')-->
<!--            && formEditCustomer.controls.customerGender.dirty">-->
<!--        Không Được Để Trống.-->
<!--      </div>-->

      <div class="mt-3 form-group" >
        <label for="a" class="h6">Kí Hạn:</label>
        <input type="text" id="a" class="form-control" placeholder="Nhập CCMD/CMND" name="idCard" formControlName="khachHang"
        >
      </div>


      <div class="mt-3 form-group">
        <label class="h6" for="customerType">Tên Khách Hàng:</label>
        <div class="input-group">
          <select id="customerType" class="form-select" formControlName="khachHang"
                  [compareWith]="compareWithId" name="customerType">
            <option *ngFor="let c of khachHangList" [ngValue]="c">
              {{c.name}}
            </option>
          </select>
          <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
        </div>
      </div>


<!--      <div class="mt-3 text-center">-->
<!--        <button class="btn btn-info btn-sm" (click)="submitUpdate()" [disabled]="formEditCustomer.invalid">Lưu-->
<!--        </button>-->
      </div>



    </div>
  </div>





