<div class="mx-5 px-5 pt-3">
  <h2 class="text-center fw-bold" style="color: red">Thêm Mới Khách Hàng</h2>
  <div class="mt-3 text-center">
    <a routerLink="">Quay Về Danh Sách</a>
  </div>
  <div class="d-flex justify-content-center">

    <div class="w-50 border border-info p-3"
         [formGroup]="formCreateCustomer">


      <div class="mt-3 form-group">
        <label for="name" class="h6">Tên Khách Hàng:</label>
        <input type="text" id="name" class="form-control" placeholder="Nhập Tên: " name="name"
               formControlName="customerName">
      </div>

      <div class="mb-3 text-danger"
           *ngIf="formCreateCustomer.controls.customerName.hasError('pattern')
            && formCreateCustomer.controls.customerName.touched">
        Tên khách hàng không được chứa số, và các kí tự đầu tiên của mỗi từ phải viết hoa!
      </div>

      <div class="mt-3 form-group">
        <label for="customerBirthday" class="h6">Ngày Sinh:</label>
        <input type="date" id="customerBirthday" class="form-control" name="customerBirthday"
               formControlName="customerBirthday" [min]="minAge" [max]="maxAge"/>
      </div>

      <div class="mb-3 text-danger"
           *ngIf="formCreateCustomer.controls.customerBirthday.hasError('invalid18_80')
            && formCreateCustomer.controls.customerBirthday.touched">
        Tuổi Phải 18!
      </div>

      <div class="mt-3 form-group">
        <label for="idCard" class="h6">CCND/CMND:</label>
        <input type="number" id="idCard" class="form-control" placeholder="Nhập CCMD/CMND" name="idCard"
               formControlName="customerIdCard">
      </div>

      <div class="mb-3 text-danger"
           *ngIf="formCreateCustomer.controls.customerIdCard.hasError('pattern')
            && formCreateCustomer.controls.customerIdCard.touched">
        Số CMND/CCCD phải đúng định dạng XXXXXXXXX hoặc XXXXXXXXXXXX (X là số 0-9).
      </div>

      <div class="mt-3 form-group">
        <label for="phone" class="h6">Số Điện Thoại:</label>
        <input type="text" id="phone" class="form-control" placeholder="Nhập Số Điện Thoại" name="phone"
               formControlName="customerPhone">
      </div>

      <div class="mb-3 text-danger"
           *ngIf="formCreateCustomer.controls.customerPhone.hasError('pattern')
            && formCreateCustomer.controls.customerPhone.touched">
        Số điện thoại phải đúng định dạng 090xxxxxxx hoặc 091xxxxxxx hoặc (84)+90xxxxxxx hoặc (84)+91xxxxxxx.
      </div>

      <div class="mt-3 form-group">
        <label for="email" class="h6">Email:</label>
        <input type="text" id="email" class="form-control" placeholder="Nhập Email" name="email"
               formControlName="customerEmail">
      </div>

      <div class="mb-3 text-danger"
           *ngIf="formCreateCustomer.controls.customerEmail.hasError('email')
            && formCreateCustomer.controls.customerEmail.touched">
        email Phải Đúng Định Dạng!
      </div>

      <div class="mt-3 form-group">
        <label for="address" class="h6">Địa Chỉ:</label>
        <input type="text" id="address" class="form-control" placeholder="Nhập Địa Chỉ" name="address"
               formControlName="customerAddress">
      </div>

      <div class="mb-3 text-danger"
           *ngIf="formCreateCustomer.controls.customerAddress.hasError('required')
            && formCreateCustomer.controls.customerAddress.touched">
        Không Được Để Trống
      </div>


      <div class="mt-3 form-group">
        <label class="h6">Giới tính:</label>
        <div class="alert alert-danger" role="alert"
             *ngIf="formCreateCustomer.controls.customerGender.hasError('required') &&
                      formCreateCustomer.controls.customerGender.touched">
          Vui lòng chọn giới tính!
        </div>
        <div class="d-flex">
          <label class="d-block me-4">
            <input class="form-check-input" type="radio" id="male" value="nam"
                   formControlName="customerGender"/> Nam
            <i class="fa-solid fa-mars"></i>
          </label>

          <label class="d-block me-4">
            <input class="form-check-input" type="radio" id="female" value="Nữ"
                   formControlName="customerGender"/> Nữ
            <i class="fa-solid fa-venus"></i>
          </label>

          <label class="d-block">
            <input class="form-check-input" type="radio" id="ljbt" value="LGBT"
                   formControlName="customerGender"/> LGBT
            <i class="fa-solid fa-heart"></i>
          </label>
        </div>
      </div>


      <div class="mt-3 form-group">
        <label class="h6" for="customerType">Loại Khách Hàng:</label>
        <div class="input-group">
          <select id="customerType" class="form-select" formControlName="customerType">
            <option value="" disabled>Chọn Loại Khách</option>
            <option *ngFor="let c of customerTypeList" [ngValue]="c">
              {{c.customerTypeName}}
            </option>
          </select>
          <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
        </div>
      </div>

      <div class="mb-3 text-danger"
           *ngIf="formCreateCustomer.controls.customerType.hasError('required')
            && formCreateCustomer.controls.customerType.touched">
        Không Được Để Trống.
      </div>

      <div class="mt-3 text-center">
        <button class="btn btn-info btn-sm" (click)="submitCreate()" [disabled]="formCreateCustomer.invalid">Lưu
        </button>
      </div>
    </div>
  </div>
</div>

