<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <title>Add new Customer</title>
    <meta charset="UTF-8">
    <style>
        a {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
        body{
            background-image: url("https://vinaexpress.com.vn/anh-lien-minh-huyen-thoai-dep-nhat/imager_80383.jpg");
        }
    </style>
</head>
<body>
<div class="mx-5 px-5 pt-3">
    <h2 class="text-center fw-bold" style="color: red">Thêm Mới Khách Hàng</h2>
    <div class="d-flex justify-content-center">

        <form class="w-50 border border-info p-3" th:action="@{/customer/save}" th:object="${customerDto}"
              method="post">
            <div class="form-group">
                <label for="name" class="h6">Tên Khách Hàng:</label>
                <input type="text" id="name" class="form-control" placeholder="Nhập Tên: " name="name"
                       value="Võ Văn Tý">
            </div>

            <div class="form-group">
                <label for="dateOfBirth" class="h6">Ngày Sinh:</label>
                <input type="text" id="dateOfBirth" class="form-control" placeholder="Nhập Tên: " name="name"
                       value="05/04/2001">
            </div>


            <div class="mt-3 form-group">
                <label for="idCard" class="h6">CCND/CMND:</label>
                <input type="number" id="idCard" class="form-control" placeholder="Nhập CCMD/CMND" name="idCard"
                       value="13231213">
            </div>

            <div class="mt-3 form-group">
                <label for="phone" class="h6">Số Điện Thoại:</label>
                <input type="text" id="phone" class="form-control" placeholder="Nhập Số Điện Thoại" name="phone"
                       value="090900909">
            </div>

            <div class="mt-3 form-group">
                <label for="email" class="h6">Email:</label>
                <input type="text" id="email" class="form-control" placeholder="Nhập Email" name="email"
                       value="vovanty0504@gmail.com">
            </div>

            <div class="mt-3 form-group">
                <label for="address" class="h6">Địa Chỉ:</label>
                <input type="text" id="address" class="form-control" placeholder="Nhập Địa Chỉ" name="address"
                       value="31 Lê Đình Kỵ">
            </div>

            <div class="mt-3 form-group">
                <label for="gender" class="h6">Giới Tính:</label>
                <input type="text" id="gender" class="form-control" placeholder="Nhập Địa Chỉ" name="address"
                       value="Nam">
            </div>

            <div class="mt-3 form-group">
                <label class="h6" for="customerType">Loại Khách Hàng:</label>
                <div class="input-group">
                    <select id="customerType" class="form-select" th:field="*{customerType.customerTypeId}">
                       <option>Vip</option>
                       <option>Cùi</option>
                    </select>
                    <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
                </div>
            </div>

            <div class="mt-3 text-center">
                <button class="btn btn-info btn-sm">Lưu</button>
            </div>
        </form>
    </div>

    <p class="text-center">
        <a href="list.html"><i class="fa-solid fa-backward"></i> Quay lại trang danh sách khách hàng</a>
    </p>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>
