<title>Customer</title>
<body>
<div class="container col-12">
  <h3 class="text-center mt-3">
    <a routerLink="/customer/list" class="text-white text-decoration-none">Customer List</a>
  </h3>
  <h5 class="text-center" style="color: blue"></h5>
  <div class="row">
    <div class="col-6"></div>
    <div class="row col-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control col-8" placeholder="Recipient's username"
               aria-label="Recipient's username"
               aria-describedby="button-addon2" [(ngModel)]="name">
        <button (click)="getAllCustomer()" class="btn btn-success" type="button" id="button-addon2">Button</button>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <table id="customerTable" class="table bg-light table-striped table-bordered text-center" style="width: 100%">
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Gender</th>
      <th>Date of birth</th>
      <th>Rank</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>

    <tr *ngFor="let customer of (customers$ | async)!; index as i">
      <td>{{i + 1}}</td>
      <td>
        <a class="text-decoration-none">{{customer.customerName}}</a>
      </td>
      <td>
        <span *ngIf="customer.customerGender == 1">Male</span>
        <span *ngIf="customer.customerGender == 0">Female</span>
        <span *ngIf="customer.customerGender == 2">LGBT</span>
      </td>
      <td>{{customer.customerAddress}}</td>
      <td>{{customer.customerType.customerTypeName}}</td>
      <td>
        <a routerLink="/customer/{{customer.id}}" class="btn bg-warning btn-sm">
          <i class="fas fa-address-card"></i>
          Edit
        </a>

      </td>
      <td>
        <button (click)="deleteConfirm(customer)" type="button" class="btn bg-danger btn-sm" data-bs-toggle="modal"
                data-bs-target="#exampleModalDel">
          Delete
        </button>
      </td>
    </tr>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!"
      [(page)]="page"
      [maxSize]="3"
      [rotate]="true"
      [pageSize]="pageSize"
      [boundaryLinks]="true"
      (pageChange)="getAllCustomer()"
    >
    </ngb-pagination>

    <select class="form-control-sm" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="getAllCustomer()">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
  <!-- Modal Delete-->
  <div class="modal fade" id="exampleModalDel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <span>Are you sure to delete: <span style="color: red">{{delName}}</span></span>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="delete()" data-bs-toggle="modal"
                  data-bs-target="#modalInform"
                  data-bs-dismiss="modal">Yes
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal inform-->

</div>
</body>
