<h1 class="text-center" style="margin-top: 50px">Danh Sách Khách Hàng</h1>
<nav class="navbar navbar-expand-lg pb-0 mb-0">
  <div class="container-fluid">
    <a href="create.html">
      <button class="btn btn-success btn-outline-secondary btn-sm">
        <span class="fa-solid fa-person-circle-plus text-light h5 my-auto me-1"></span>
        <span class="text-light"> Thêm Mới Khách Hàng</span>
      </button>
    </a>

    <form class="d-flex my-2" role="search" action="#">
      <input class="form-control me-2" type="text" placeholder="Tìm Kiếm Tên"
             aria-label="Search"
             name="nameSearch">

      <input class="form-control me-2" type="text" placeholder="Tìm Kiếm Địa Chỉ"
             aria-label="Search"
             name="addressSearch">


      <input class="form-control me-2" type="text"
             placeholder="Tìm Kiến Số Điện Thoại" aria-label="Search"
             name="phoneSearch">

      <button class="btn btn-outline-success" type="submit" name="action" value="search">
        <i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
</nav>


<table class="table table-striped table-bordered" id="customerTable">
  <thead class="table-dark">
  <tr>
    <th>STT</th>
    <th>Tên Khách Hàng</th>
    <th>Ngày Sinh</th>
    <th>Giới Tính</th>
    <th>CCCD/CMND</th>
    <th>Số Điện Thoại</th>
    <th>Email</th>
    <th>Địa Chỉ</th>
    <th>Loại Khách Hàng</th>
    <th>Sửa</th>
    <th>Xóa</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customerListPaging; index as i">
    <td>{{i + 1 + (curPage - 1) * 5}}</td>
    <td>{{customer.customerName}}</td>
    <td>{{customer.customerBirthday}}</td>
    <td>{{customer.customerGender}}</td>
    <td>{{customer.customerIdCard}}</td>
    <td>{{customer.customerPhone}}</td>
    <td>{{customer.customerEmail}}</td>
    <td>{{customer.customerAddress}}</td>
    <td>{{customer.customerType.customerTypeName}}</td>
    <td class="text-center">
      <a routerLink="/customer/edit/{{customer.id}}">
        <button class="btn btn-success btn-outline-secondary btn-sm">
          <span class="fa-solid fa-user-pen text-light h6 m-auto px-2"></span>
        </button>
      </a>
    </td>
    <td class="text-center">
      <button
        class="btn btn-danger btn-outline-secondary btn-sm" data-bs-toggle="modal"
        data-bs-target="#deleteCustomer">
        <span class="fa-solid fa-person-circle-minus text-light h6 m-auto px-2"></span>
      </button>
    </td>
  </tr>
  </tbody>
</table>

<nav aria-label="..." class="justify-content-center d-flex">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="previous()" *ngIf="curPage > 1">&laquo; Trang trước</a>
    </li>
    <li class="page-item disabled" *ngIf="curPage <= 1">
      <a class="page-link">&laquo;</a>
    </li>

    <li class="page-item"><a class="page-link disabled" href="" [text]="curPage + ' / ' + totalPage"></a>
    </li>

    <li class="page-item">
      <a class="page-link" (click)="next()" *ngIf="curPage < totalPage">Trang sau &raquo;</a>
    </li>
    <li class="page-item disabled" *ngIf="curPage >= totalPage">
      <a class="page-link">&raquo;</a>
    </li>
  </ul>
</nav>

<div class="modal fade" id="deleteCustomer" tabindex="-1" aria-labelledby="exampleModalLabel1"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel1">Bạn có chắc chắn muốn xóa?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <form action="#">
        <div class="modal-body">
          <span class="h6">Khách hàng:</span><strong id="nameDelete" class="text-danger ps-2">Võ Văn
          Tý</strong>
          <input type="hidden" name="idDelete" id="idDelete" readonly/>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="submit" class="btn btn-danger" value="delete">Xóa</button>
        </div>
      </form>
    </div>
  </div>

</div>
